<mat-card class="card-container">
	<mat-card-header>
		<mat-card-title>Chat with Us</mat-card-title>
	</mat-card-header>
	<mat-spinner *ngIf="loading"></mat-spinner>
	<mat-card-content #chatContainer class="chat-list-container" [scrollTop]="chatContainer.scrollHeight"
		*ngIf="!loading">
		<mat-list>
			<mat-list-item *ngIf="!messages?.length">
				No messages till now. Send new to start.
			</mat-list-item>
			<mat-list-item *ngFor="let message of messages">
				<p>
					<strong *ngIf="message.isReceived">Server: </strong>
					<strong *ngIf="!message.isReceived">{{message.user.name}}: </strong>
					<span>{{message.message}}</span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-actions>
		<form #messageForm="ngForm">
			<mat-form-field class="message-input">
				<input matInput placeholder="Enter your message" [(ngModel)]="chat.message" name="message"
					#message="ngModel">
			</mat-form-field>
			<button mat-raised-button color="primary" [disabled]="!chat.message"
				(click)="sendMessage(messageForm)">Send</button>
		</form>
	</mat-card-actions>
</mat-card>