<div class="main-container">
	<h3>Chat with Us</h3>
	<div #chatContainer class="chat-list-container" [scrollTop]="chatContainer.scrollHeight">
		<mat-list>
			<mat-list-item *ngFor="let message of messages">
				<p>
					<strong *ngIf="message.isReceived">Server: </strong>
					<strong *ngIf="!message.isReceived">{{message.user.name}}: </strong>
					<span>{{message.message}}</span>
				</p>
			</mat-list-item>
		</mat-list>
	</div>
	<form #messageForm="ngForm">
		<mat-form-field>
			<input matInput placeholder="Enter your message" [(ngModel)]="chat.message" name="message"
				#message="ngModel">
		</mat-form-field>
		<button mat-raised-button color="primary" [disabled]="!chat.message"
			(click)="sendMessage(messageForm)">Send</button>
	</form>
</div>