<mat-toolbar color="primary" class="main-toolbar">
  <span *ngIf="authService.isLoggedIn()" class="toolbar-container">
    <span>
      <img class="avatar" src="https://s3-ap-southeast-1.amazonaws.com/timeai/avatar/img.jpg" alt="avatar">
      Welcome {{user.name}}
    </span>
    <button mat-button (click)="logout()">
        <mat-icon mat-icon>power_settings_new</mat-icon>Sign Out
      </button>
  </span>
  <div *ngIf="!authService.isLoggedIn()" align="right">
    <button mat-button [routerLink]="['/login']">
      <mat-icon>exit_to_app</mat-icon> Login
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>