.avatar {
    height: 30px;
    border-radius: 50%;
}

.toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-container {
    height: calc(100vh - 164px);
    padding: 50px 0;
}